@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0.4;
  }
  50% {
    transform: translateX(100px) scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 0.4;
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0.4;
  }
  50% {
    transform: translateX(-100px) scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 0.4;
  }
}

.glowing-circles {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 300px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
}

.glowing-circles div {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(60px);
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-1 {
  background: #3c9f74;
  animation: moveLeftToRight 6s infinite alternate ease-in-out;
  left: 10%;
}
.circle-2 {
  background: #8e7543;
  animation: moveRightToLeft 7s infinite alternate ease-in-out;
  left: 20%;
}
.circle-3 {
  background: #ad4843;
  animation: moveLeftToRight 8s infinite alternate ease-in-out;
  left: 35%;
}
.circle-4 {
  background: #3927c4;
  animation: moveRightToLeft 6.5s infinite alternate ease-in-out;
  left: 50%;
}
.circle-5 {
  background: #3db883;
  animation: moveLeftToRight 7.5s infinite alternate ease-in-out;
  left: 65%;
}
.circle-6 {
  background: #772db9;
  animation: moveRightToLeft 6.2s infinite alternate ease-in-out;
  left: 75%;
}
.circle-7 {
  background: #8e2d95;
  animation: moveLeftToRight 8s infinite alternate ease-in-out;
  left: 85%;
}
.circle-8 {
  background: #9a532d;
  animation: moveRightToLeft 5.5s infinite alternate ease-in-out;
  left: 95%;
}
